Repository lukabudik/todofordevs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build stuff
  package.json
Due: prettier --write

feat: commit messages
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: start command
  package.json
Due: prettier --write

fix: prisma init
  .gitignore
  prisma/schema.prisma
Due: none

feat: separate layout for the landing page
  src/app/page.tsx
  src/components/layout/landing-layout.tsx
Due: eslint --fix, prettier --write

fix: middleware
  src/middleware.ts
Due: eslint --fix, prettier --write

feat: cli support
  .eslintignore
  package.json
  pnpm-lock.yaml
  src/app/api/auth/cli-login-initiate/route.ts
  src/app/api/auth/cli-token/route.ts
  src/app/api/auth/cli-verify/route.ts
  src/app/api/projects/[projectId]/tasks/route.ts
  src/app/api/projects/route.ts
  src/app/api/tasks/[taskId]/route.ts
  src/app/cli-auth/page.tsx
  src/middleware.ts
Due: eslint --fix, prettier --write

fix: cli stuff
  src/app/api/auth/cli-login-initiate/route.ts
  src/app/api/auth/cli-token/route.ts
  src/app/api/auth/cli-verify/route.ts
  src/app/api/projects/[projectId]/tasks/route.ts
  src/app/api/projects/route.ts
  src/app/api/tasks/[taskId]/route.ts
  src/app/cli-auth/page.tsx
  src/lib/deviceCodes.ts
  src/middleware.ts
Due: eslint --fix, prettier --write

feat: cli promo
  src/app/(dashboard)/projects/page.tsx
  src/app/cli/page.tsx
  src/app/page.tsx
  src/components/cli/cli-banner.tsx
  src/components/cli/cli-command-item.tsx
  src/components/cli/cli-info.tsx
  src/components/command/command-palette.tsx
  src/components/layout/navbar.tsx
  src/middleware.ts
Due: eslint --fix, prettier --write

fix: hopefully a better middleware
  src/middleware.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,scss,yaml,yml})
